@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/1ff4b7100999053.603f5151216f6.gif");
  height: 100vh;
  background-position: center;
  background-size: cover;
} */

@layer components {
  /* custom class for the div that wraps the table of flights */
  .tableWrap {
    @apply h-[max-content] max-h-[70vh] overflow-y-scroll box-border rounded-md w-[98%] max-w-7xl mb-3;
  }
  .tableWrap::-webkit-scrollbar {
    @apply hidden;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
